<ion-view view-title="Contact Us">
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                Location Information
            </div>
            <div class="item item-thumbnail-right item-text-wrap">
                <h2>Our Address</h2>
                <p>121, Clear Water Bay Road</p>
                <p>Clear Water Bay, Kowloon</p>
                <p>HONG KONG</p>
                <p class="ion-ios-telephone">: +852 1234 5678</p>
                <p class="ion-printer">: +852 8765 4321</p>
                <p class="ion-email">:<a href="mailto:confusion@food.net"> confusion@food.net</a></p>
            </div>
        </div>
        <div class="row button-bar">
            <button class="col col-33 button button-positive ion-ios-telephone icon-left">Call</button>
            <button class="col col-33 button button-calm ion-social-skype icon-left">Skype</button>
            <button class="col col-33 button button-balanced ion-ios-email icon-left">Email</button>
        </div>
    </ion-content>
</ion-view>